* {
  margin: 0;
  padding: 0;
  font: bold 17px Arial, sans-serif;
}

:root {
  --orangeUCL: #FFA46D;
}

.container {
  display: flex;
  flex-flow: column;
  
  min-height: 100vh;
  background: #888;
  background-size: cover;

  justify-content: space-around;
  align-items: center;
}

.calc {
  display: grid;
  grid-template-rows: 25% 75%;
  grid-template-columns: 66% 33%;

  max-width: 40%;
  min-width: 30%;

  max-height: 75vh;
  min-height: 75vh;

  margin: 100px auto;
  padding: 20px 20px 15px 20px;
  
  background: #D8F3FFA2;
	border-radius: 3px;
	box-shadow: 0px 4px var(--orangeUCL), 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.visor {
  grid-row: 1 / 2;
  grid-column: 1 / 3;

  display:flex;
  justify-content:flex-end;
  align-items:center;

  padding: 0 10px;
  margin-bottom: 10px;
	
	background: #FFFFFF8C;
	border-radius: 3px;
  box-shadow: inset 0px 4px #00000033;
	
	font-size: 32px;
	color: #242323;
	letter-spacing: 1px;
}

.numpad {
  display: flex;
  flex-flow: row wrap;

  grid-row: 2 / 3;
  grid-column: 1 / 2;

  background: var(--orangeUCL);
  border-radius: 3px;
}

.num_wrapper {
  flex: 1 1 33%;

  display: flex;
  flex-flow: column wrap;

  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.numbtn {
  margin: 4px;
  flex: 1 1;
  background: #FFFFFF8C;
  text-align: center;
  align-self: stretch;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 3px;
}

.oppad {
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  align-items: center;

  grid-row: 2 / 3;
  grid-column: 2 / 3;

  background: var(--orangeUCL);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;

  padding: 10px;
}

/* .op_wrapper {
  flex: 1 1 100%;

  display: flex;
  flex-flow: column;
} */

.opbtn {
  flex: 1;
  display: flex;
  width: 4em;

  background: #FFFFFF8C;
  text-align: center;
  /* align-self: stretch; */
  margin: 4px 8px 0 4px;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
}

.op_wrapper:last-child>.opbtn {
  margin-bottom: 4px;
}

.numpad-left {
  margin-left: 8px;
}

.numpad-top {
  margin-top: 8px;
}

.numpad-bottom {
  margin-bottom: 8px;
}

.numpad-right {
  margin-right: 8px;
}