body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	display: grid;
}

.container {
	height: 100vh;
	width: 100vw;
	display: inline-grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.display {
	grid-column: 1 / -1;
	grid-row: 1 / 2;
	font-size: 1.2em;
	align-items:end;
	direction: rtl;
	align-self: end;
	padding: 0.5em 10px 0.5em 0em;
	overflow: scroll;
}

.btn {
	background-color: #F9F9F9;
	margin: 0.1em;
	border-radius: 4px;
	padding: 0.2em;
}

.dot {
	background-color: #EEE;
}

.clear, .add, .sub, .get, .set{
	background-color: #ECA;
}

.plus, .minus, .times, .div, .change, .raise {
	background-color: #FEA;
}

.equals {
	background-color: #E44;
}

@media (min-width: 280px) {
	.container {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.times, .div, .raise, .change, .set, .add, .sub, .get {
		display: none;
	}
	#display {
		justify-self: end;
	}
	
	.n1 {
		grid-column: 1/2;
		grid-row: 2/3;
	}
	
	.n2 {
		grid-column: 2/3;
		grid-row: 2/3;
	}
	
	.n3 {
		grid-column: 3/4;
		grid-row: 2/3;
	}
	
	.n4 {
		grid-column: 1/2;
		grid-row: 3/4;
	}
	
	.n5 {
		grid-column: 2/3;
		grid-row: 3/4;
	}
	
	.n6 {
		grid-column: 3/4;
		grid-row: 3/4;
	}
	
	.n7{
		grid-column: 1/2;
		grid-row: 4/5;
	}
	
	.n8{
		grid-column: 2/3;
		grid-row: 4/5;
	}
	
	.n9 {
		grid-column: 3/4;
		grid-row: 4/5;
	}
	
	.n0 {
		grid-column: 1/3;
		grid-row: 5/6;
	}
	
	.dot {
		grid-column: 3/4;
		grid-row: 5/6;
	}
	
	.equals {
		grid-column: 4/-1;
		grid-row: 5/6;
	}
	
	.clear {
		grid-column: 4/-1;
		grid-row: 2/3;
	}
	
	.plus {
		grid-column: 4/5;
		grid-row: 4/5;
	}
	
	.minus {
		grid-column: 4/5;
		grid-row: 3/4;
	}
}

@media (min-width: 400px) {
  .container {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
	
	.times, .div{
		display: grid;
	}
	
	.times {
		grid-column: 5/6;
		grid-row: 3/4;
	}
	
	.div {
		grid-column: 5/6;
		grid-row: 4/5;
	}
}

@media (min-width: 900px) {
  .container {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	}
	
	.raise, .change, .set, .add, .sub, .get {
		display: grid;
	}
	
	.clear {
		grid-column: 4/5;
	}
	
	.equals {
		grid-column: 4/5;
	}
	
	.change {
		grid-column: 5/6;
		grid-row: 5/6;
	}
	
	.sub {
		grid-column: 6/7;
		grid-row: 3/4;
	}

}

@media (min-height: 280px) {
	.container {
		font-size: 1.3em;
	}
}

@media (min-height: 380px) {
	.container {
		font-size: 2em;
	}
}

@media (min-height: 480px) {
	.container {
		font-size: 2.4em;
	}
}

@media (min-height: 600px) {
	.container {
		font-size: 3em;
	}
}